




<div>
    <span style="color: red;">{{msg}}</span>
    <h2>Login</h2>
    <form [formGroup]="loginRef" (ngSubmit)="signIn()" class="form-group">
        <label>EmailId</label>
        <input type="email" formControlName="emailid" class="form-control"/><br/>
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control"/><br/>
        <label>TypeOfUser</label>
        <input type="radio" formControlName="typeofuser" value="admin" />: Admin
        <input type="radio" formControlName="typeofuser" value="customer"/>: Customer<br/>
        <input type="submit" value="Login" class="btn btn-success"/>
        <input type="reset" value="Reset" class="btn btn-info"><br/>
    </form>
    <br/>
    <a routerLink="signUp" skipLocationChange="true">SignUp</a>
</div>